/* Body and structure
-------------------------------------------------- */
html
{
    position: relative;
    min-height: 100%;
}
body
{
    height: auto !important;
    padding-bottom: 330px;
    font-family: 'Maven Pro', sans-serif;
    font-size: 14px;
    background-color:#FEFEFC;
    color:#525252 !important;
    margin: 50px 0 0;
}
body.demos
{
}
.container
{
    width: 75%;
}
.support
{
    z-index: 1;
    width: 100%;
}
.features-section
{
    background: transparent;
    background-color: #f5f5f5;
    /*border-top: 1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
    text-align: left !important;
    padding-bottom: 130px;
    z-index: 2;
    box-shadow: 0 -1px 0px 0px #DDDDDD,
    0 -2px 0px 1px #FFFFFF,
    0 -1px 0px 3px #DDDDDD;

}
.about-home
{
    padding: 100px 0 0;
    height:500px;
    width: 100%;
    background-color: #e65c47;
}
section.orange-bg
{
    margin-top: 20px;
    background-color: #e65c47;
    color: #fff;
    box-shadow: 0 -1px 0px 0px #DDDDDD,
    0 -2px 0px 1px #FFFFFF,
    0 -1px 0px 3px #DDDDDD;
}
section.grey
{
    background: transparent;
    background-color: #f5f5f5;
    box-shadow: 0 -1px 0px 0px #DDDDDD,
    0 -2px 0px 1px #FFFFFF,
    0 -1px 0px 3px #DDDDDD;
}

.center
{
    text-align: center;
}

h4, h5, h6
{
    color: #00abc7;
    font-weight: 300;
}

div.progress
{
    width: 50%;
    margin: 50px auto 0;
    height: 40px;
}

#progress {
    height: 40px;
    background: #444;
    bottom: 0;
    z-index: 1;
}

/* Header
-------------------------------------------------- */
.header
{
    vertical-align: bottom;
}

.version-number
{
    font-size: 90px;
    font-weight: bold;
    position: relative;
    top: 9px;
}
.bs-docs-social-buttons li
{
    margin: 0px -20px 10px 0px;
}
.nav-logo
{
    padding: 7px 15px 10px !important;
}
.nav-logo img
{
    height: 22px;
}
#navbar
{
    width: 100%;
    float:left;
}
.navbar
{
    margin-bottom:0;
}
/*.top-nav*/
/*{*/
    /*position:relative;*/
    /*display:inline;*/
    /*float:right;*/
/*}*/
/*.top-nav .navbar-inner*/
/*{*/
    /*background-color:#7c858c !important;*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); *//*IE remove bootstrap filter */
    /*background-image:none;*/
    /*border:none;*/
/*}*/
/*.top-nav .navbar .nav > li > a*/
/*{*/
    /*color:#fff;*/
    /*text-shadow:none;*/
    /*-webkit-transition: all .15s ease-in-out;*/
    /*-moz-transition: all .15s ease-in-out;*/
    /*transition: all .15s ease-in-out;*/
/*}*/
/*.top-nav .navbar .nav > li > a:hover,*/
/*.navbar .nav > li > a:hover*/
/*{*/
    /*color:#66ccdd;*/
/*}*/
/*.top-nav .navbar .nav > li > a > img*/
/*{*/
    /*display:inline;*/
    /*margin-left:0px;*/
    /*margin-top:-3px;*/
/*}*/



/* Main Nav */
.fixed
{
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1) !important;
}
.main-nav
{
    margin-left: -35px;
}
.main-nav .navbar-inner
{
    background:transparent !important;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); /*IE remove bootstrap filter */
    background-image:none;
    border:none;
    box-shadow:none;
}
.main-nav .navbar .nav > li > a
{
    font-size:13px;
    color:#FFFFFF;
    text-shadow:none;
}
.main-nav .navbar .nav > li > a:hover
{
    color:#FFFFFF;
    background-color: #66ccdd;
}
.main-nav .navbar .nav .dropdown-menu > li > a
{
    display:block;
    color:#525252;
    text-shadow:none;
    font-weight:bold;
    margin: 0px auto 8px auto;
}
.main-nav .navbar .nav .dropdown-menu > li > a:hover
{
    background-color: #e65c47;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); /*IE remove bootstrap filter */
    color:#FFF;
    text-shadow:none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
    background-color: #e65c47;
    color:#fff !important;
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover
{
    background-color: transparent;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); /*IE remove bootstrap filter */
    color:#fff;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover
{
    color: #7c858c;
    background-color:transparent;
    box-shadow:none;
}
.navbar-inner
{
    z-index:2;
}
.navbar-inner.demo-nav
{
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin-top: 0;
}
.navbar .btn-navbar
{
    background-image: -webkit-gradient(linear, center top, 0, center center, 141, from(#66ccdd), to(#00859b) ); /* old WebKit Syntax */
    background-image: -webkit-linear-gradient( top , #66ccdd 0%, #00859b 100%); /* New WebKit syntax */
    background-image: -moz-linear-gradient(center top , #66ccdd, #00859b);
    background-image: -ms-linear-gradient(center top , #66ccdd 0%, #00859b 100%); /* IE10+ */
    background-image: -o-linear-gradient(center top , #66ccdd, #00859b); /* Opera (13?) */
    background-color: #66ccdd;
    box-shadow:none;
    border:none;
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar .active,
.navbar .btn-navbar .disabled,
.navbar .btn-navbar[disabled]
{
    background-color: #00859b;
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
}
/*.jquery-ribbon*/
/*{*/
    /*display:inline-block;*/
    /*position:relative;*/
    /*float:right;*/
    /*text-align:center;*/
/*}*/
/*.jquery-ribbon p span*/
/*{*/
    /*font-size:20px;*/
    /*font-weight:bold;*/
    /*line-height:26px;*/
/*}*/
/*.jquery-ribbon .square a*/
/*{*/
    /*display:block;*/
    /*text-decoration:none;*/
/*}*/
/*.jquery-ribbon .square a:hover*/
/*{*/
    /*color:#75EBFF;*/
/*}*/
/*.square*/
/*{*/
    /*line-height:120%;*/
    /*padding: 15px 10px 2px 10px;*/
    /*position:relative;*/
    /*width: 100px;*/
    /*height:65px;*/
    /*background-color:#e65c47;*/
    /*box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.4);*/
/*}*/
/*.square a*/
/*{*/
    /*line-height: 120%;*/
/*}*/
/*.arrow-down*/
/*{*/
    /*border-left: 60px solid transparent;*/
    /*border-right: 60px solid transparent;*/
    /*border-top: 40px solid #e65c47;*/
/*}*/
.btn-small
{
    font-size:13px;
    padding: 4px 10px 8px;
}

.home-video
{
    width: 100%;
    height: 150px;
}

.spacer
{
    height:40px;
}
@media (max-width: 767px)
{
    .spacer
    {
        height:20px;
    }
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .navbar
{
    font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand
{
    padding-left: 0px;
    margin-left: 0px;
    font-weight: 300;
    color: #ccc;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
body > .navbar-fixed-top .brand
{
    padding-right: 0;
    float: right;
}
body > .navbar .brand:hover
{
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section > .page-header,
section > .lead
{
    color: #5a5a5a;
}
section > ul li
{
    margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator
{
    margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften
{
    height: 1px;
    margin: 60px 0;
}
hr.no-margin
{
    margin: 0;
}


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
/*.jumbotron*/
/*{*/
    /*position: relative;*/
    /*padding: 0px 0px 40px 0px;*/
    /*color: #fff;*/
    /*text-align: left;*/
    /*text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);*/

    /*background: #66ccdd; *//* fallback for non-supporting browsers */
    /*background-image: -webkit-gradient(radial, 33% 25px, 0, center center, 141, from(#ddf3f7), to(#00abc7) ); *//* old WebKit Syntax */
    /*background-image: -webkit-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%); *//* New WebKit syntax */
    /*background-image: -moz-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%);*/
    /*background-image: -ms-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%); *//* IE10+ */
    /*background-image: -o-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%); *//* Opera (13?) */

    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1F8FF', endColorstr='#00859b',GradientType=0 );*/

    /*-webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);*/
    /*-moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);*/
    /*box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);*/
/*}*/
/*.jumbotron h1*/
/*{*/
    /*font-size: 7em;*/
    /*font-weight: normal;*/
    /*letter-spacing: -1px;*/
    /*line-height: 1;*/
    /*color: #00859b;*/
    /*text-align:left;*/
/*}*/
/*.jumbotron h3*/
/*{*/
    /*text-align:center;*/
    /*margin: -20px 0px 0px 0px;*/
/*}*/
/*.jumbotron p*/
/*{*/
    /*font-size: 16px;*/
    /*line-height: 130%;*/
    /*margin-bottom: 30px;*/
/*}*/
/*.jumbotron a*/
/*{*/
    /*color: #fff;*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*-moz-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    /*margin: 0px auto 20px auto;*/
    /*text-shadow:none;*/
    /*text-decoration:underline;*/
/*}*/
/*.jumbotron h3 > a*/
/*{*/
    /*color: #fff;*/
    /*-webkit-transition: all .2s ease-in-out;*/
    /*-moz-transition: all .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    /*text-shadow:0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);*/
    /*text-decoration:none;*/
/*}*/
/*.jumbotron h3 > a:hover*/
/*{*/
    /*color: #fff;*/
    /*-webkit-transition: all .1s ease-in-out;*/
    /*-moz-transition: all .1s ease-in-out;*/
    /*transition: all .1s ease-in-out;*/
    /*text-shadow: 1 1 3px rgba(255,255,255,.1.0);*/
    /*text-decoration:underline;*/
/*}*/
/*.jumbotron a:hover*/
/*{*/
    /*color: #fff;*/
    /*text-shadow: 0 0 10px rgba(255,255,255,.25);*/
/*}*/
/*.masthead .btn*/
/*{*/
    /*color: #fff; *//* redeclare to override the `.jumbotron a` */
    /*-webkit-transition: none;*/
    /*-moz-transition: none;*/
    /*transition: none;*/
/*}*/
.btn
{
    background-color: #f87436;
    background-image: -moz-linear-gradient(center top , #f88d5a, #e65c47);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f88d5a), to(#e65c47));
    background-image: -webkit-linear-gradient(top, #f88d5a, #e65c47);
    background-image: -ms-linear-gradient(top, #f88d5a, #e65c47);
    color:#fff;
    text-shadow:none;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled]
{
    background-color: #e65c47;
    color:#fff;
}
.btn a:hover
{
    color:#fff;
}
.jumbotron-small
{
    z-index: 1000;
    padding: 0px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    border: 1px solid #777777;
    background: #66ccdd;  /* fallback for non-supporting browsers */
    background-color: #00abc7;
    /*background-image: -webkit-gradient(radial, 33% 25px, 0, center center, 141, from(#ddf3f7), to(#00abc7) ); *//* old WebKit Syntax */
    /*background-image: -webkit-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%); *//* New WebKit syntax */
    /*background-image: -moz-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%);*/
    /*background-image: -ms-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%); *//* IE10+ */
    /*background-image: -o-radial-gradient(33% 25px, circle contain, #ddf3f7 0%, #00abc7 3000%); *//* Opera (13?) */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1F8FF', endColorstr='#00859b',GradientType=0 );*/
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}
.jumbotron-small a
{
    color: #fff;
    color: rgba(255,255,255,.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* Jumbotron Icons
------------------------- */
.lg_icon
{
    display:block;
    height:55px;
    width:55px;
    margin: 0 auto;
}

/* Masthead (docs home)
------------------------- */
.masthead
{
    padding: 0px 0 50px 0;
    margin-bottom: 0;
    color: #fff;
}
.masthead h1
{
    font-size: 82px;
    font-weight:bold;
    line-height: 1;
    letter-spacing: -2px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.35), -1px -1px rgba(0, 0, 0, 0.25);
    color:#00abc7;
    margin-left:-5px;
    clear:both;
}
.masthead h2
{
    font-size: 36px;
    font-weight: normal;
    line-height: 1.25;
    text-align:right;
}

.btn-large
{
    font-size: 24px;
}

.legend
{
    display: none;
}

/* Subhead (other pages)
------------------------- */
.subhead
{
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.subhead h1
{
    font-size: 60px;
}
.subhead p
{
    margin-bottom: 20px;
}
.subhead .navbar
{
    display: none;
}

/* DEMOS
-------------------------------------------------- */
.marketing.demo-list
{
    text-align: left;
    color: #525252;
}
.marketing.demo-list h1
{
    margin-top: 20px;
}

.demo-subnav
{
    margin-top: 16px;
    position: relative;
    z-index: 0;
    margin-bottom: 30px;
}
.demo-list .demo-title
{
    margin-bottom: 20px;
    padding-top:100px;
    margin-top: -100px;
}
section.demo-section
{
    margin-bottom: 40px;
    padding-top:60px;
    margin-top: -60px;
}
.view-code
{
    margin: 30px 0 0;
}
.view-code a
{
    cursor: pointer;
    font-size: 16px;
}
/*.view-code pre code.example*/
/*{*/
    /*border-radius: 4px;*/
    /*border: 1px solid #999999;*/
/*}*/
div.source-view
{
    margin-top: -3px;
    display: none;
}
pre.source-view
{
    margin-top: -3px;
    display: none;
}
i.icon-eye-open
{
    opacity: 0.8;
    margin-top: 4px;
    margin-right: 5px;
}
.marketing p.demo-description
{
    font-size: 17.5px;
    margin-bottom: 30px;
}
.code-tab
{
    padding: 10px;
    background-color: #525252;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    cursor: pointer;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.code-tab.activeTabTrigger
{
    background-color: #F4F4F4;
    color: #525252;
    font-weight: 400;
    z-index: 2;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}
.code-example .code-window
{
    display: none;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.code-example
{
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.code-example .code-window.active
{
    /*position: relative;*/
    z-index: 1;
    padding-left: 10px;
    display: block;
    background-color: #F4F4F4;
    /*-moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);*/
    /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);*/
}

/* marketing section of Overview
-------------------------------------------------- */

body.home .marketing
{
    text-align: center;
}
.marketing
{
    color: #525252;
}
.marketing h1
{
    margin: 30px 0 12px 0px;
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
    color: #00abc7;
    text-align: center;
}
.marketing h2
{
    font-weight: 200;
    margin-bottom: 5px;
    color: #00abc7;
    font-size: 36px;
}
.marketing h3
{
    font-weight:300;
    font-size: 24px;
    line-height: 28px;
    color: #00abc7;
}
.marketing h4
{
    color: #e65c47;
}
.marketing p
{
    font-size: 14px;
    line-height: 1.3;
}
.marketing .marketing-byline
{
    font-size: 17.5px;
    font-weight: 300;
    line-height: 20px;
    color: #525252;
    /*text-align: center;*/
    margin: 10px 0;
}
.features img
{
    display: block;
    margin: 0 auto 30px;
}
.progressBar
{
    margin-top: 0px !important;
    float:left;
}
ul.features
{
    list-style: none;
}
.features
{
    margin-top: 15px;
}
.features li
{
    margin: 6px 0;
    font-size: 18px;
}

/* Footer
-------------------------------------------------- */

.footer
{
    padding: 70px 0;
    border-top: 1px solid #e5e5e5;
    background-color: #525252;
    color :#eee;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
}
.footer p
{
    margin-bottom: 0;
    color: #eee;
}
.footer-links
{
    margin: 10px 0;
}
.footer-links li
{
    display: inline;
    margin-right: 10px;
}
.footer a
{
    color: #66ccdd;
}
.widenIcon
{
    margin: -3px 0px 0px 4px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1281px) {
    .openSource > .btn
    {
        margin-top: 3px !important;
    }
    .top-nav{
        margin-top:-5px;
    }
    .container
    {
        max-width: 1024px;
    }
    .masthead h1
    {
        margin-top:80px;
    }
    .getStarted > form
    {
        margin-top:0px !important;
    }
    .noDependency .btn
    {
        margin-top:22px !important;
    }
}
@media (min-width: 1200px) {
    .bs-docs-container {
        max-width: 970px;
    }
    .bs-docs-sidenav {
        width: 258px;
    }
    .top-nav{
        margin-top:-5px;
    }
    .container
    {
        max-width: 1024px;
    }
    .masthead h1
    {
        margin-top:80px;
    }

    /*Aligning Buttons on Downloads Page*/
    .purchase > .btn
    {
        margin-top:3px;
        margin-bottom:0px;
    }
    .openSource > .btn
    {
        margin-top:27px;
    }
    .jQueryDownload .btn
    {
        margin-top:22px;
    }
}
@media (min-width: 1024px)
{
    .top-nav
    {
        margin-top:-35px;
    }
    .getStarted > form
    {
        margin-top:34px;
    }
}
@media (min-width: 981px) and (max-width: 1024px)
{
    .top-nav
    {
        margin-top:-5px;
    }
    .masthead h1
    {
        margin-top:80px;
    }

    /*Aligning Buttons on Downloads Page*/
    .purchase > .btn
    {
        margin-top:3px;
    }
    .openSource > .btn
    {
        margin-top: 9px;
    }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
    /* Unfloat brand */
    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Inline-block quick links for more spacing */
    .quick-links li {
        display: inline-block;
        margin: 5px;
    }

    /* When affixed, space properly */
    .bs-docs-sidenav {
        top: 0;
        margin-top: 30px;
        margin-right: 0;
    }
    .top-nav
    {
        margin-top:-5px;
    }
    .masthead h1
    {
        text-align:center;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        margin-top: -10px; /* Offset bottom margin on .navbar */
    }
    .masthead{
        padding:0;
    }

    /* Adjust sidenav width */
    .bs-docs-sidenav {
        width: 166px;
        margin-top: 20px;
    }
    .bs-docs-sidenav.affix {
        top: 0;
    }
    .lg_icon
    {
        float:none;
    }
    .jumbotron h3
    {
        font-size:20px;
    }

    /* Aligning Buttons on Downloads Page */
    .purchase > .btn
    {
        margin-top:3px;
    }
    .openSource > .btn
    {
        margin-top: 8px;
    }
    .getStarted input.btn.btn-small[type="submit"]
    {
        margin-top: 20px;
    }
    .getStarted > form
    {
        margin-top:40px;
    }

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        padding: 40px 20px;
        margin-top:   -10px; /* Offset bottom margin on .navbar */
        margin-right: -20px;
        margin-left:  -20px;
    }
    .masthead{
        padding:0px 0px 40px 0px;
    }
    .masthead h1 {
        font-size: 5em;
        text-align:center;
    }
    .masthead h2 {
        font-size: 32px;
        text-align:center;
    }
    .masthead p,
    .masthead .btn {
        font-size: 16px;
    }
    .legend {
        font-size: small;
        font-style: italic;
        display: inline;
    }
    .marketing .span4 {
        margin-bottom: 40px;
    }

    .bs-docs-social {
        margin: 0 -20px;
    }

    /* Space out the show-grid examples */
    .show-grid [class*="span"] {
        margin-bottom: 5px;
    }

    /* Sidenav */
    .bs-docs-sidenav {
        width: auto;
        margin-bottom: 20px;
    }
    .bs-docs-sidenav.affix {
        position: static;
        width: auto;
        top: 0;
    }

    /* Unfloat the back to top link in footer */
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer p {
        margin-bottom: 9px;
    }
    .top-nav
    {
        margin-right:-15px;
    }
    .terms-conditions-copy
    {
        width:100% !important;
    }
    .p8
    {
        padding-bottom:30px !important;
        padding-left:0px !important;
    }
    .purchase
    {
        border-right:none !important;
        border-bottom:1px solid #ddd;
    }
    .getStarted
    {
        border-right:none !important;
        border-bottom:1px solid #ddd;
    }
    .jQueryDownload
    {
        border-right:none !important;
        border-bottom: 1px solid #ddd;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }

    /* Change up some type stuff */
    h2 small {
        display: block;
    }

    /* Downsize the jumbotrons */
    .masthead h1 {
        font-size: 54px;
    }
    .masthead h2{
        font-size: 22px;
    }
    .jumbotron p,
    .jumbotron .btn {
        font-size: 16px;
    }
    .jumbotron .btn {
        display: block;
        margin: 20px auto;
    }

    .legend {
        font-size: small;
        font-style: italic;
        display: inline;
    }

    /* center align subhead text like the masthead */
    .subhead h1,
    .subhead p {
        text-align: center;
    }

    /* Marketing on home */
    .marketing h1 {
        font-size: 40px;
        color: #00abc7;
    }

    /* center example sites */
    .example-sites {
        margin-left: 0;
    }
    .example-sites > li {
        float: none;
        display: block;
        max-width: 280px;
        margin: 0 auto 18px;
        text-align: center;
    }
    .example-sites .thumbnail > img {
        max-width: 270px;
    }

    /* Do our best to make tables work in narrow viewports */
    table code {
        white-space: nowrap;
        word-wrap: break-word;
        word-break: break-all;
    }

    /* Modal example */
    .modal-example .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
    }

    /* Unfloat the back to top in footer to prevent odd text wrapping */
    .footer .pull-right {
        float: none;
    }
    .terms-conditions-copy
    {
        width:100% !important;
        text-align:left !important;
    }
}
@media (max-width: 550px) {
    .jquery-ribbon
    {
        display:none;
    }

    .terms-conditions-copy
    {
        text-align:left !important;
    }
}

/* Fine Uploader
-------------------------------------------------- */
/* For the bootstrapped demos */
li.alert-success
{
    background-color: #DFF0D8;
}
li.alert-error
{
    background-color: #F2DEDE;
}
.alert-error .qq-upload-failed-text
{
    display: inline;
}
UL.features LI IMG
{
    display: inline;
    margin: 0px;
    padding-right: 5px;
}

/* tipsy
-------------------------------------------------- */
.tipsy{font-size:10px;position:absolute;padding:5px;z-index:100000}
.tipsy-inner{background-color:#000;color:#FFF;max-width:200px;padding:5px 8px 4px 8px;text-align:center}
.tipsy-inner{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
/*.tipsy-inner{box-shadow:0 0 5px #000000;-webkit-box-shadow:0 0 5px #000000;-moz-box-shadow:0 0 5px #000000}*/
.tipsy-arrow{position:absolute;width:0;height:0;line-height:0;border:5px dashed #000}
.tipsy-arrow-n{border-bottom-color:#000}
.tipsy-arrow-s{border-top-color:#000}
.tipsy-arrow-e{border-left-color:#000}
.tipsy-arrow-w{border-right-color:#000}
.tipsy-n .tipsy-arrow{top:0px;left:50%;margin-left:-5px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-nw .tipsy-arrow{top:0;left:10px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-ne .tipsy-arrow{top:0;right:10px;border-bottom-style:solid;border-top:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-s .tipsy-arrow{bottom:0;left:50%;margin-left:-5px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-sw .tipsy-arrow{bottom:0;left:10px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-se .tipsy-arrow{bottom:0;right:10px;border-top-style:solid;border-bottom:none;border-left-color:transparent;border-right-color:transparent}
.tipsy-e .tipsy-arrow{right:0;top:50%;margin-top:-5px;border-left-style:solid;border-right:none;border-top-color:transparent;border-bottom-color:transparent}
.tipsy-w .tipsy-arrow{left:0;top:50%;margin-top:-5px;border-right-style:solid;border-left:none;border-top-color:transparent;border-bottom-color:transparent}

/* Downloads Page */
.submit
{
    padding: 5px 8px 4px 8px;
}
input, button, select, textarea
{
    font-family: 'Maven Pro', sans-serif;
}
.small-link
{
    font-size: 12px;
    margin-top:14px;
    display:block
}
/* Terms and Conditions */
.terms-conditions-copy
{
    width:70%;
    margin: auto;
    margin-top: 30px;
    text-align: justify;
}
.terms-conditions-copy h1
{
    text-align: center;
    color: #00ABC7;
}
.terms-conditions-copy h4
{
    text-align:left;
    color: #444;
}
.terms-conditions-copy ol
{
    list-style: decimal;
}
.terms-conditions-copy  p
{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.uppercase-bold
{
    text-transform: uppercase;
    font-weight: bold;
    color: #444;
}
.uppercase
{
    text-transform: uppercase;
}

/* About */
.about-nav
{
    margin-top:50px;
    margin-right:15px;
}
.team-image
{
    border-radius:4px;
    margin:20px auto !important;
}
.team ul
{
    list-style: none;
    margin-left:0px;
    text-align:center;
}
@media (max-width: 767px)
{
    .team-image
    {
        margin-left: 0px !important;
    }
    .team ul
    {
        text-align:left;
    }
}

/* Global */
.orange
{
    color: #e65c47 !important;
}
.mt60
{
    margin-top: 60px;
}
.p8
{
    padding:0px 20px 10px 20px;
}
.left
{
    float: left !important;
}
.right
{
    float: right !important;
}
pre
{
    border: none;
    background-color: inherit;
    margin-top: -15px;
    padding: 0;
    border-top-left-radius: 0px;
    border: 1px solid #999;
}

pre code
{
    overflow-x: auto;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre code.example .javascript, pre code.example .css
{
    opacity: 1;
}

code.example
{
    max-height: 700px;
}
.strike {
    text-decoration: line-through;
}

section.question {
    padding-top: 15px;
    font-weight: bold;
    font-size: larger;
}
section.question::before {
    font-size: larger;
    font-weight: bold;
}

section.answer {
    padding-top: 7px;
}
section.answer::before {

}

.hero-unit {
    line-height: 0px;
    font-size: 14px;
    padding: 20px 30px;
    background-color: #f5f5f5;
    box-shadow: 0 -1px 0px 0px #DDDDDD,
    0 -2px 0px 1px #FFFFFF,
    0 -1px 0px 2px #DDDDDD;
}

/* Features */
.featurette
{
    margin-bottom: 0px;
}
.accordion
{
    text-align: left;
}
.accordion-group
{
    border: none;
}
.accordion-group.main-features a
{
    font-size: 17px;
}
.accordion-group.main-features .accordion-heading-features
{
    margin: 6px;
}
.accordion-inner-faq
{
    text-align: left;
}
.accordion-toggle-faq.collapsed
{
    font-size: 16px !important;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.accordion-toggle-faq
{
    font-size: 18px !important;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.collapse.in
{
    background-color: #FCFCFA;
    border: 1px solid #e65c47;
    margin:5px 0;
    border-radius: 3px;
    /*padding: 10px 10px 0;*/
}
.collapse.in p
{
   margin: 10px;
}
.fu-avatar-white
{
    background-image: url('/img/fineuploader-avatar-white.png');
    height:25px;
    width: 400px;
    margin-bottom: 50px;
}











