/* Fixes styles in Internet Explorer 7 and lower */

.main-nav .navbar .nav > li > a
{
    font-size:13px;
    font-weight:bold;
    color:#6c6c6c;
}
.jumbotron
{
    border-top:1px solid #ccc;
}
.top-nav
{
    margin-top:-35px;
    width:460px;
}
.jquery-ribbon
{
    margin-top:0px;
}
.jumbotron-small .container .navbar
{
    margin-left:-20px;
    float:left;
}
.p8
{
    padding:0px !important;
}
.getStarted, .purchase
{
    border-right:none !important;
}
.navbar-inner > .container
{
    float:left;
}
.soften
{
    border-bottom:1px solid #ddd;
}
.openSource > a
{
    margin-top:28px;
}
.btn-small
{
    padding-top:5px !important;
    padding-bottom:5px !important;
}
.dropdown-menu
{
    margin-top:0px;
    position:static !important;
    z-index:1000 !important;
}
#demoList
{
    position:relative !important;
    z-index:0 !important;
}
