/* Fixes styles in Internet Explorer 8 */

.main-nav .navbar .nav > li > a
{
    font-size:13px;
    font-weight:bold;
    color:#6c6c6c;
}

.jumbotron
{
    border-top:1px solid #ccc;
}

.top-nav
{
    margin-top:-35px;
}

