.*
*.ipr
*~
.*.sw[a-z]
*.iml
!.gitignore
Thumbs.db

build/
dist/
*.zip
release/*
master

!.travis.yml
hardcopy*
selenium.log*

pid.txt
sauce_connect.log*
fine-uploader/
test/**/**
node_modules/

bin/
